*, html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 100%;
    color: #0d0d0d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main {
    padding-top: 15px;
    margin: 0 auto 1%;
    width: 70vw;
    height: 100%;
    min-height: 50px;
    min-width: 300px;
}
section {
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.31);
    box-shadow: 1px 2px 5px rgba(0,0,0,0.31);
    border: solid 1px #cbc9c9;
    margin: 3% auto;
    width: 85%;
    height:85%;
    min-height: 85%;
    padding: 15px;
    font-size: 75%;
}
.title{
    font-size: 200%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    color: #a9a9a9;
    opacity: .3;
}

/*section label {
    display: block;
    margin: 5px;
}*/

#languages {
    float: right;
    padding: 10px;
}

#languages a {
    padding: 0px 13px;
}

#weather-report {
    margin: auto;
    width: 95%;
}

#report-table {
    width: 100%;
    margin: 30px 0px;
    border: 0px;
    border-collapse: collapse;
}

#report-table td, th {
    padding: 10px;
    text-align: center;
}

#report-table th {
    border-bottom: 1px solid black
}

footer {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #7059ae;
    text-decoration: none;
    font-size: 114.3%;
}

footer div {
    font-size: 75%;
    padding-top: 5px;
    color: #4d4d4d;
}

/* Phones */
@media (max-width: 735px) {
    main {
        width: 95vw;
    }

    section: {
        padding: 0px;
    }

    #report-table {
        margin: 3px;
        font-size: 50%;
    }

    #report-table td, th {
        padding: 3px;
    }
}



